body{
	font-family: 'Open Sans', sans-serif;
	background: #efefef;
	border:3px solid  gray ;
	margin: 0;
}

.container{
	width: 1100px;
	margin: 0 auto;
	overflow: auto;
}

.dinosaurs{
	text-align: justify;
}

.meat{
	border:3px dashed green;
	background: gray;
	text-align: center;
}

.types_meat{
	width: 550px;
	margin: 0 auto;
    text-align: center;
	border:3px solid yellow;
	background: yellowgreen;
}

.plants{
	border:3px dashed green;
	text-align: center;
}
.types_plants{
	border:3px solid yellowgreen;
	margin: 0 auto;
    text-align: center;
	display: flex;
    justify-content: space-between;
    background: green;
}
.triceratops{
	width: 500px;
}
.diplodocus{
	width: 500px;
}